body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
	max-width: 1000px;
	margin-top: 30px;
	margin-bottom: 30px;

	/* To center horizontally */
	display: flex; /* I do not think this is needed */
	margin-left: auto;
	margin-right: auto;

	/* Add in task 7 */
	flex-direction: column;
}